<h2>hej</h2>

<div>
    <label for="filter">Filter</label>
    <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">
</div>

<!-- @if(error()) { -->
    <!-- <div>
        <p>{{error()}}</p>
    </div> -->
<!-- } -->
<table>
      <thead>
<tr>
    <th>Kurskod</th>
    <th>Namn</th>
    <th>Progression</th>
    <th>Länk</th>
    
</tr>
    </thead>

    
   <tbody *ngFor="let course of filteredCourses">
        <td>{{course.code}}</td>
        <td>{{course.coursename}}</td>
        <td>{{course.progression}}</td>  
        <td><a [href] = "course.syllabus" target="_blank">Visa kurs</a></td>  
    </tbody>

    


</table>

