table { /*Allmänna regler för table*/
  
    margin-top: 5%;
    font-size: 1.2em;
    line-height: 120%;
    max-width: 100%;

     
}

th {
    cursor: pointer;
    text-align: left;
    padding: 0.3em;
}

td {
    margin-left: 5%;
    padding: 0.3em;
}


#filter {  /*storlek på där man skriver in text som sedan filtreras*/
    margin: auto;
    

    width: 180px;
    height: 30px;
}

#filterLabel{ /*css för label för sökbar*/
    font-size: 1.2em;
    margin-right: 2%;
}