<h1>Kurser</h1>

<div>
    <label for="filter" id="filterLabel">Filter</label>
    <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">    
</div>
<!--Sök/filtrera-->

@if(filteredCourses.length === 0) {
     <p>Inga kurser matchar sökningen</p>}
    <!--om det inte finns några kurser som matchar sökningen så skrivs meddelande ut-->

<table> <!--tabell som läser in data från API-->
      <thead>
<tr>
    <th  (click)="sort1()">Kurskod</th> <!--Vid klick så anropas funktion sort1-->
    <th  (click)="sort2()">Namn</th>    <!--Vid klick så anropas funktion sort2-->
    <th  (click)="sort3()">Progression</th> <!--Vid klick så anropas funktion sort3-->
    <th>Länk</th> 
    
</tr>
    </thead>

    
   <tbody *ngFor="let course of filteredCourses"> <!--kurser som läses in från API och filteras med hjälp av sökbar-->
        <td>{{course.code}}</td>
        <td>{{course.coursename}}</td>
        <td>{{course.progression}}</td>  
        <td><a [href] = "course.syllabus" target="_blank">Visa kurs</a></td>   
    </tbody>

    


</table>

